:root {
  --pf-bg-color: #1b1b22;
  --pf-primary-color: #2b2e3a;
  --pf-secondary-color: #d09740;
  --pf-linear-shage-bg: linear-gradient(90deg, rgba(23,23,42,1) 0%, rgba(25,24,70,1) 34%, rgba(20,19,80,1) 67%, rgba(10,9,99,1) 100%);
}
